_aws/state machines/start-new-game.asl.json
{
  "Comment": "Starts two new Flappy Mo games in 30 second intervals",
  "StartAt": "Start New Game",
  "States": {
    "Start New Game": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "OutputPath": null,
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${StartGameFunction}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 29,
      "Next": "Start New Game (30 seconds)"
    },
    "Start New Game (30 seconds)": {
      "Type": "Task",
      "Resource": "${LambdaInvoke}",
      "OutputPath": null,
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${StartGameFunction}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
